.advantage__list {  
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.advantage__item {
    @include mq('tablet') {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
        }
        @include mq('desktop') {
            margin: 15px;
            width: calc((100% - 4 * 30px) / 4);
            }
}
.advantage__icon {
    height: 120px;
    border-radius: 4px;
    background-color: $background-color-team;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.advantage__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    @include font ($primary-text-family,normal,bold,14px,1.15,0.03em,$primary-text-color);
    text-align: center;
    @include mq('tablet') {
        text-align: start;
        }
}
.advantage__text {
    @include font ($primary-text-family,normal,400,14px,1.70,0.03em,$primary-text-color);
}
