.card__list {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.card__item {
    background-color: $title-text-color;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        margin: 15px;
        width: calc((100% - 3 * 30px) / 3);
    }
}
