.card__list {
    display: block;
    @include mq('tablet') {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.card__item {
    background-color: $title-text-color;
    display: flex;
    @include mqq('tablet') {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include mq('tablet') {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
    }
    @include mq('desktop') {
        margin: 15px;
        width: calc((100% - 3 * 30px) / 3);
    }
}
