.card__list {
    display: block;
    flex-wrap: wrap;
}
.card__item {
    margin-bottom: 30px;
    background-color: $title-text-color;
    &:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}
