.contacts-header {
    display: none;
    @include mq('tablet') {
        display: inline-flex;
        margin-left: auto;
        flex-direction: column;
        @include mq('desktop') {
            display: flex;
            flex-direction: inherit;
        }
    }
}
.contacts-header__item {
    @include mqq('desktop') {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    @include mq('desktop') {
        &:nth-child(1) {
            margin-right: 50px;
        }
    }
}
.contacts-header__link {
    display: flex;
    align-items: center;
    @include font ($primary-text-family,400,500,14px,1.15,0.02em,$subtitle-text-color);
    transition: color $time $durarion;
    &:hover,
    &:focus {
        color: $accent-color;
        &:hover .contacts-header__icon {
            fill: $accent-color;
        }
    }
}
.contacts-header__icon {
    margin-right: 10px;
    fill: $subtitle-text-color;
    transition: fill $time $durarion;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}