.footer-adress__wrapper {
    text-align: center;
    @include mq('tablet') {
        display: inline-block;
    }
    @include mq('desktop') {
        text-align: start;
    }
}
.footer-adress {
    margin-top: 20px;
}
.footer-adress__text {
    @include font ($primary-text-family,normal,400,14px,1.71,0.03em,$title-text-color);
    @include mq('mobile') {
        margin-bottom: 9px;
    }
}
.footer-adress__list {
    @include mqq('desktop') {
        margin-bottom: 60px;
    }
}
.footer-adress__item {
    display: block;
    @include mq('mobile')  {
        display: flex;
        justify-content: center;
        margin-bottom: 9px;
        display: flex;
        &:nth-child(2n) {
            margin-bottom: 0;
        }
    }
    @include mq('desktop') {
        justify-content: start;
    }
    
}
.footer-adress__link {
    @include font ($primary-text-family,normal,400,14px,1.70,0.03em,$contacts-acent-footer);
    transition: color $time $durarion;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}