.footer-section {
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}
.footer-conteiner {
    @include mq('desktop') {
        display: flex;
        align-items: baseline;
    }
}
.footer__wraper {
    @include mq('tablet') {
        display: flex;
        align-items: baseline;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            justify-content: space-around;
        }
    }
}
.logo--footer {
    padding: 0;
}
.logo__text-white-color {
    color: $title-text-color;
}