.header-conteiner {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    @include mq('mobile') {
        width: 480px;
    }
    @include mq('tablet') {
        width: 768px;
    }
    @include mq('desktop') {
        width: 1200px;
    }
    @media screen and (max-width: 479px) {
        width: 100%;
    }
}