.header-nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
        display: inline-flex;
        align-items: center;
    }
}
.header-nav__button {
    display: none;
    @media screen and (max-width: 767px) {
        display: inline-flex;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        & .header-nav__icon-close {
            display: none;
        }
        &.is-open .header-nav__icon-close {
            display: block;
        }
        &.is-open .header-nav__icon-menu {
            display: none;
        }
        &:hover .header-nav__icon {
            fill: $accent-color;
        }
    }
}
.header-nav__icon {
    transition: fill $time $durarion; 
}
.header-nav__list {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.header-nav__item {
    margin-right: 50px;
    
    &:nth-child(3n) {
        margin-right: 0;
    }
}
.header-nav__link {
    text-decoration: none;
    @include font ($primary-text-family,normal,500,14px,1.15,0.02em,$primary-text-color);
    padding: 32px 0;
    display: block;
    position: relative;
    transition: color $time $durarion;
    &:hover,
    &:focus,
    &:active {
        color: $accent-color;
    }
}
.header-nav__link--active {
    color: $accent-color;
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

