.logo {
    padding-top: 16px;
    padding-bottom: 16px
}
.logo__text--blue-color {
    @include font ($subprimary-text-family,normal,700,24px,1.15,0.03em,$accent-color);
    display: inline-block;
}
.logo__text--black-color {
    display: inline-block;
    @include font ($subprimary-text-family,normal,700,24px,1.15,0.03em,$primary-text-color);
}
